/************************************************ APP COMPONENT CSS ************************************************/

*{
  margin-top: 0px;
}

/* BODY */

body {
  margin: 0;
  padding:0;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


/* NAVBAR WITH HEADING */
.heading-bar{
background-color: #441259;
height:50px;
margin-top:0px;
}

/* LOGO WITH NAME */
.branding-name{
  color:white;
  padding-left:60px;
  padding-top:12px;
}

/* CONTAINER DIV */
.dashboard-div{
  width:1100px;
  height:500px;
  background-color: white;
  border:0.9px solid rgb(194, 184, 184);
  position:absolute;
  top:100px;
  left:90px;
  border-radius:9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02 );
}

/* LIST ITEMS */
ul {
  padding: 0;
  list-style-type: none;
}

/* LIST ITEMS */
ul > li{
  list-style-type: none;
  margin-right: 500px;
  padding-left:0px;
}

/* LIST ITEMS */
a{
  text-decoration: none;
  color: black;
  padding-left:15px;
}

/* LIST ITEMS */
ul>li>a:hover{
  color:black;
  text-decoration: underline;
  font-weight: bold;
}


/* HR LINES IN SIDE MENU */
hr{
  width:159px;
  margin-left:0px;
  margin-bottom:0px;
}

/* STATISTICS DIV CONTAINER */
.stats-divs{
display: flex;
flex-wrap: nowrap;
margin-left: 190px;
position: absolute;
bottom:330px;
left:10px;
}


.numbers{
  font-size: 32px;
}

.firststat{
  width:180px;
  height:140px;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right: 10px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.secondstat{
  width:180px;
  height:140px;
  margin-left: 25px;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right: 10px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 
}
.thirdstat{
  width:180px;
  height:140px;
  margin-left: 25px;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right: 10px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}
.fourthstat{
  width:180px;
  height:140px;
  margin-left: 25px;
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
  padding-left:10px;
  padding-right: 10px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.firststat:hover, .secondstat:hover, .thirdstat:hover, .fourthstat:hover{
  cursor: pointer;
  transform: scale(1.1,1.1);
  font-weight:bold;/* 700px */
}

/* VERTICAL LINE TO MENU */
#v1{
    border-left: 0.5px solid black;
    height: 500px;
    position:relative;
    left:160px;
    bottom:515px;
}

/* PROGRESS BAR */
.progress-bar{
  position: absolute;
  top:210px;
  left:202px;
}

.metervalue{
  position: relative;
  margin-left:17px;
  bottom:3px;
  font-weight: bold;
}

/* METER*/
.meter-bar{
  width:420px;
  height: 22px;
  color:#588B8B;
}

/* ROADMAP BUTTON */
.roadmap-btn{
  position: absolute;
  width:120px;
  height: 30px;
  background-color: whitesmoke;
  color:black;
  border-radius: 7px;
  border:0.01px solid black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

.roadmap-btn:hover, .level-btn:hover{
  cursor:pointer;
  transform: scale(1.1,1.1); 
  background-color: #e58b24;
  color:black;
  border:0.01px solid #e58b24;
  font-weight: 700px;
}

/* GO TO LEVELS BUTTON */
.level-btn{
  position: absolute;
  left:692px;
  top:230px;
  width:190px;
  height: 30px;
  background-color: #588B8B;
  border-radius: 7px;
  color: white;
  border:0.01px solid #588B8B;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)
}

/************************************************ RESOURCES COMPONENT CSS ************************************************/
.navitems-container{
  width:900px;
  height:50px;
  display: flex;
  justify-content: space-evenly;
  left:200px;
  top:10px;
  position: absolute;
}

/* NAV-ITEMS */
.nav-item{
  list-style: none;
}

.navbar-brand:hover{
  color: black;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
} 


/* LEVEL TABS */
/* LEVEL ONE */
.level-one{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:250px;
  bottom:350px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}



/* LEVEL 1 TEXT IN TAB */
.level1-text{
  padding-top:5px;
  padding-left:18px;
}

/* EYE-ICON */
.eye-icon{
  width:25px;
  height:25px;
  padding-left:180px;
  padding-top: 6px;
}

/* DOWNLOAD ICON */
.download-icon{
  width:22px;
  height:22px;
  margin-left:12px;
  padding-top:5px;
  cursor: pointer;
}


/* LEVEL TWO */
.level-two{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:670px;
  bottom:350px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LEVEL THREE */
.level-three{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:250px;
  bottom:250px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LEVEL FOUR */
.level-four{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:670px;
  bottom:250px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LEVEL FIVE */
.level-five{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:250px;
  bottom:150px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LEVEL SIX */
.level-six{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:670px;
  bottom:150px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LEVEL SEVEN */
.level-seven{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:250px;
  bottom:50px;
 border:1.2px solid whitesmoke;
 border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* LEVEL EIGHT */
.level-eight{
  width:330px;
  height:40px;
  display: flex;
  position: absolute;
  left:670px;
  bottom:50px;
  border:1.2px solid whitesmoke;
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.level-one:hover, .level-two:hover, .level-three:hover, .level-four:hover, .level-five:hover, .level-six:hover, .level-seven:hover, .level-eight:hover{
  transform: scale(1.1,1.1);
  cursor:pointer;
  font-weight: bold;
  }

  /************************************************ ASSIGNMENTS COMPONENT CSS ************************************************/
  .nav-link active:hover, .nav-link:hover{
    color:black;
    text-decoration:underline;
    font-weight: bold;
    
  }
  
  .assignment-text{
    position: absolute;
    top:120px;
    left:200px;
  }
  
  .assignment-tab{
    position: absolute;
    top:210px;
    width:370px;
    height:40px;
    display: flex;
    position: absolute;
    bottom:350px;
    border:1.2px solid whitesmoke;
    border-radius: 4px;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .level1-text{
    padding-top:5px;
    padding-left:15px;
  }
  
  .eye-icon{
    width:25px;
    height:25px;
    padding-left:180px;
    padding-top: 6px;
  }
  
  .download-icon{
    width:22px;
    height:22px;
    margin-left:12px;
    padding-top:5px;
  }
  
  .eye-icon:hover, .download-icon:hover{
    cursor: pointer;
    transform:scale(1.1,1.1);
  }
  
  .assignment-button{
    position: absolute;
    top:100px;
    left:0px;
    width:150px;
    height:30px;
    background-color: black;
    color:white;
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .assignment-button:hover{
    cursor:pointer;
    transform: scale(1.1,1.1); 
    background-color: #e58b24;
    color:black;
    border:0.01px solid #e58b24;
  }

  /************************************************ COURSEINFO COMPONENT CSS ************************************************/
  .courseinfo-text{
    position: absolute;
    left:210px;
    top:55px;
  }
  
  /* IMAGE (FACULTY) */
  .faculty-image{
    display: flex;
    position: absolute;
    top:145px;
    height:55px;
    width:55px;
  }
  
  /* FACULTY DETAILS */
  .faculty-name{
    position: absolute;
    top:149px;
    left:60px;
    font-size: 22px;
    font-weight: bold;
  }
  
  /* COURSE DETAILS STATIC TEXT */
  .text-description{
    position: absolute;
    top:220px;
  }
  
  /* COURSE DETAILS STATIC TEXT */
  .text-descriptiontwo{
    position: absolute;
    top:280px;
  }
  
  /* SKILLS COURSE INFO */
  .Skills-text{
    position: absolute;
    top:335px;
  }
  
  /* SKILLS COURSE INFO */
  .Skillsone{
  width: 70px;
  height: 20px;
  position: absolute;
  top:375px;
  border:1px solid black;
  display: flex;
  border-radius: 7px;
  padding-left: 25px;
  cursor: pointer;
  }
  
  .Skillstwo{
  width: 70px;
  height: 20px;
  position: absolute;
  top:375px;
  left:100px;
  border:1px solid black;
  display: flex;
  border-radius: 7px;
   padding-left: 25px;
   cursor: pointer;
  }
  
  .Skillsthree{
    width: 70px;
    height: 20px;
    position: absolute;
    top:375px;
    left:200px;
    border:1px solid black;
    display: flex;
    border-radius: 7px;
    padding-left: 25px;
    cursor: pointer;
    }
  
    .Skillsfour{
      width: 70px;
    height: 20px;
      position: absolute;
      top:375px;
      left:300px;
      border:1px solid black;
      display: flex;
      border-radius: 7px;
      padding-left: 25px;
      cursor: pointer;
    }

    /************************************************ COURSEINFO COMPONENT CSS ************************************************/

    .navitems-container{
      width:900px;
      height:50px;
      display: flex;
      justify-content: space-evenly;
      position: absolute;
      left:200px;
      top:10px;
    }
    
    .nav-item{
      list-style: none;
    }
    
    .nav-link active:hover, .nav-link:hover, .nav-link disabled:hover{
      color:black;
      text-decoration: underline;
      font-weight: bold;
    }
    
    /* Levels*/
    
    .level-one{
      width:330px;
      height:40px;
      display: flex;
      position: absolute;
      left:250px;
      bottom:350px;
      border:1.2px solid whitesmoke;
      border-radius: 4px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .level1-text{
      padding-top:5px;
      padding-left:18px;
    }
    
    .eye-icon{
      width:25px;
      height:25px;
      padding-left:180px;
      padding-top: 6px;
      cursor: pointer;
    }
    
    .download-icon{
      width:22px;
      height:22px;
      margin-left:12px;
      padding-top:5px;
      cursor: pointer;
    }
    
    .eye-icon:hover, .download-icon:hover{
      transform: scale(1.1,1.1);
    }
    
    .level-two{
      width:330px;
      height:40px;
      display: flex;
      position: absolute;
      left:670px;
      bottom:350px;
      border:1.2px solid whitesmoke;
      border-radius: 4px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .level-three{
      width:330px;
      height:40px;
      display: flex;
      position: absolute;
      left:250px;
      bottom:250px;
      border:1.2px solid whitesmoke;
      border-radius: 4px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .level-four{
      width:330px;
      height:40px;
      display: flex;
      position: absolute;
      left:670px;
      bottom:250px;
      border:1.2px solid whitesmoke;
      border-radius: 4px;
      border-radius: 3px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    
    .level-one:hover, .level-two:hover, .level-three:hover, .level-four:hover{
      transform: scale(1.1,1.1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      font-weight: bold;
    }
    .certificate-button{
      position: absolute;
      top:430px;
      left:200px;
      height:30px;
      width:150px;
      background-color: black;
      color: white;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .certificate-button:hover{
      cursor:pointer;
      transform: scale(1.1,1.1); 
      background-color: #e58b24;
      color:black;
      border:0.01px solid #e58b24;
    }




